.form-label {
  margin-bottom: 5px;
  display: block;
  /* font-weight: bold; */
  font-family: Arial, Helvetica, sans-serif;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Customize appearance for date input */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

/* Customize appearance for date input arrow */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.custom-date-input {
  width: 100% !important;
  height: 40px;
  padding: 10px !important;
  font-size: 16px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  margin-bottom: 22px;
}

.react-datepicker-wrapper {
  width: 102.1%;
  /* border: 2px solid #ccc !important;; */
}

